* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    height: 100vh;
    width: 100vh;

    background-color: #f3f3f3;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
