* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    height: 100vh;
    min-height: 500px;
    width: 100vw;

    background-color: #f3f3f3;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body {
    height: 90%;
    width: 90%;

    border: 1px solid black;

    display: flex;
    flex-direction: row;

    font-family: 'Helvetica', 'Arial', 'sans-serif';
}

.background-image {
    height: 100%;
    width: 30%;
    background-image: url(resources/background-image.webp);
}

.sign-up-section {
    height: 100%;
    width: auto;

    background-color: white;

    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-1, .text-2, .form-heading {
    font-size: 1.1rem;
    font-weight: 600;
}

form {
    width: 100%;
    height: 50%;

    border: 1px solid red;
}

.form-subcontainer {
    height: 90%;
    width: 100%;

    background-color: white;
    box-shadow: 1px 3px 6px rgb(180, 176, 176);

    border: 1px solid green;
}

.input-section {
    height: 90%;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    border: 1px solid blue;
}

.input-container {
    height: 30%;
    width: 45%;

    border: 1px solid brown;
}

label {
    display: block;

    border: 1px solid green;

    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.8px;
    color: #535658;
}

input {
    height: 1.6rem;
    width: 90%;

    display: block;

    border: 1px solid black;
    border-radius: 4px;
}

.error-message {
    height: 1rem;
    width: 90%;

    border: 1px solid red;
}