* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

:root {
    --main-color: #596D48;
    --input-border-color: #E5E7EB;
}

html {
    height: 100vh;
    min-height: 650px;
    width: 100vw;

    background-color: #f3f3f3;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body {
    height: 90%;
    max-height: 580px;
    width: 90%;

    display: flex;
    flex-direction: row;

    font-family: 'Helvetica', 'Arial', 'sans-serif';
}

.background-image {
    height: 100%;
    width: 350px;

    background-image: url(resources/background-image.webp);
}

.sign-up-section {
    height: 100%;
    width: auto;

    background-color: white;

    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 20px;
}

form {
    height: 60%;
    max-height: 400px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: clamp(30px, 10%, 30px);
}

.text-1, .text-2, .form-heading {
    font-size: 1.1rem;
    font-weight: 600;
}

.text-1, .text-2 {
    padding-right: clamp(30px, 10%, 180px);
}

.form-subcontainer {
    height: 86%;
    width: 100%;

    background-color: white;
    box-shadow: 1px 3px 6px rgb(180, 176, 176);

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 5%;
}

.form-heading {
    padding-top: 0.1%;
}

.input-section {
    height: 75%;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}

.input-container {
    height: 30%;
    max-height: 78px;
    min-height: 72px;

    width: 36%;

    padding-right: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5%;
}

label {
    display: block;

    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.8px;
    color: #535658;
}

input {
    height: 2.1rem;
    width: 100%;

    padding: 1% 2%;

    display: block;

    border: 2px solid #E5E7EB;
    border-radius: 4px;
}

.error-message {
    height: 1rem;
    width: 100%;

    font-size: 0.8rem;
}

.text-1, .text-2,
.form-subcontainer,
.login-prompt, 
.button-container {
    padding-left: 4%;
}

button[type="submit"] {
    background-color: var(--main-color);

    border-radius: 5px;

    width: 200px;
    height: 38px;

    font-size: 1rem;
    color: white;
}

.login-prompt > a {
    color: var(--main-color) ;

    font-weight: 600;
}

.text-1, .text-2,
.input-section, 
.login-prompt {
    max-width: 1115px;
}

@media (max-width: 1232px) {

    body {
        height: 90%;
        width: 90%;

        max-height: 90%;
    
        flex-direction: column;
    }

    .background-image {
        width: 100%;
        height: 10%;

        background-color: #596D48;
        background-image: none;
    }
}