* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    height: 100vh;
    width: 100vw;

    background-color: #f3f3f3;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body {
    height: 90%;
    width: 90%;

    border: 1px solid black;

    display: flex;
    flex-direction: row;
}

.background-image {
    height: 100%;
    width: 30%;
    background-image: url(resources/background-image.webp);
}

.sign-up-section {
    height: 100%;
    width: auto;

    background-color: white;

    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
}