* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

:root {
    --main-color: #923fd2;
    --input-border-color: #E5E7EB;
}

@font-face {
    font-family: 'Norse-Bold';
    src: url(resources/Norse-Bold.otf);
}

html {
    height: 100vh;
    min-height: 650px;
    width: 100vw;

    background-color: #f3f3f3;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body {
    height: 90%;
    max-height: 580px;
    width: 90%;

    display: flex;
    flex-direction: row;

    font-family: 'Helvetica', 'Arial', 'sans-serif';
}

.background-image {
    height: 100%;
    width: 350px;

    background-image: url(resources/background-image-2.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.brand {
    background-color: rgba(0, 0, 0, 0.436);
    width: 100%;
    margin-top: 42.21%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 65px;
    height: 65px;
    background-size: 75%;
    background-image: url(resources/logo.png);
    background-repeat: no-repeat;
    background-position: center;
}

.brand-name {
    font-family: 'Norse-Bold';
    font-size: 4rem;
    color: white;

    margin-top: 18px;
}

.credits {
    font-size: 0.7rem;
    color: white;
    margin-bottom: 5px;
}

.sign-up-section {
    height: 100%;
    width: auto;

    background-color: white;

    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 20px;
}

form {
    height: 60%;
    max-height: 400px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: clamp(30px, 10%, 30px);
}

.text-1, .text-2, .form-heading {
    font-size: 1.1rem;
    font-weight: 600;
}

.text-1, .text-2 {
    padding-right: clamp(30px, 10%, 180px);
}

.form-subcontainer {
    height: 86%;
    width: 100%;

    background-color: white;
    box-shadow: 1px 3px 6px rgb(180, 176, 176);

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 5%;
}

.form-heading {
    padding-top: 0.1%;
}

.input-section {
    height: 75%;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}

.input-container {
    height: 30%;
    max-height: 78px;
    min-height: 72px;

    width: 36%;

    padding-right: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5%;
}

label {
    display: block;

    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.8px;
    color: #535658;
}

input {
    height: 2.1rem;
    width: 100%;

    padding: 1% 2%;

    display: block;

    border: 2px solid #E5E7EB;
    border-radius: 4px;
}

input:focus {
    outline: var(--main-color);
    border: 2px solid var(--main-color);
}

button[type="submit"]:hover {
    background-color: #8113d4;
}

.error-message {
    height: 1rem;
    width: 100%;

    font-size: 0.68rem;
}

.text-1, .text-2,
.form-subcontainer,
.login-prompt, 
.button-container {
    padding-left: 4%;
}

button[type="submit"] {
    background-color: var(--main-color);

    border-radius: 5px;

    width: 200px;
    height: 38px;

    font-size: 1rem;
    color: white;
}

.login-prompt > a {
    color: var(--main-color) ;

    font-weight: 600;
}

.text-1, .text-2,
.input-section, 
.login-prompt {
    max-width: 1115px;
}

@media (max-width: 1100px) {

    body {
        height: 90%;
        width: 90%;

        max-height: 90%;
    
        flex-direction: column;
    }

    .background-image {
        width: 100%;
        height: 10%;

        background-color: var(--main-color);
        background-image: none;

        justify-content: center;
    }

    html {
        height: 720px;

        align-items: center;
    }

    .brand {

        background-color: transparent;

        margin: 0;
    }

    .credits {
        display: none;
    }

    .logo {
        width: 52px;
        height: 52px;
    }
    
    .brand-name {
        font-size: 2.5rem;
    
        margin-top: 10px;
    }
}

@media(max-width: 698px) {
    html {
        height: 1150px;
        min-width: 380px;
        align-items: start;
    }

    body {
        margin-top: 36px;
    }

    .background-image {
        height: 64.79px;
    }

    .sign-up-section {
        justify-content: start;
    }

    .text-1 {
        margin-top: 35px;
    }


    form {
        height: 650px;
        max-height: none;

        justify-content: start;

        gap: 25px;
    }

    .form-subcontainer {
        height: 600px;
        max-height: none;
     }


    .input-container {
        width: 500px;
        padding: 0;
    }

    input {
        width: 100%;
    }

    .text-1, .text-2,
    .form-subcontainer,
    .login-prompt, 
    .button-container {
        padding: 0 5%;
    }

    button[type="submit"] {
        width: 100%;
    }
}

.error-message {
    color: red;
    margin-top: 1px;
    margin-left: 2px;
}